

<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .color_new{
        background:  #e3f6f5;
        border-radius: 25px;
        padding: 50px;
        width: 800px;
        height: 200px;
    }
</style>
    
    </head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <center>welcome to the news feed </center>
       </li>
      </ul>          
     <form action='/dashboard/blog/'>
      Create Your own blog --> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Blog</button>
      </form>
    </div>
  </nav>



{% for value in news_data %}
<br>
<center>
<div class="color_new">
<p><strong>News Title:</strong><span>{{value.title}}</p>
<p>{{value.description}}</p>
<a href="{{value.url}}">Read More</a>
</div>
</center>
<br>
<br>
{% endfor %}




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>